{% extends 'adminTemplate.html'%} {% block title %} ban_users {% endblock %}
{%block content %}
<h1>{% block admin_title %} Manage Banned Users {% endblock %}</h1>
<p>Who wants to be around bad people huh?</p>
<div class="row mt-4">
  <div class="col-lg-6 col-md-6 mb-4">
    <h5 class="custom">Current Banned Users List</h5>
    <table class="table table-striped">
      <thead class="table-danger">
        <tr>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        {% for banned_user in banned_user %}
        <tr>
          <td>{{banned_user[1]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Right column layout -->

  <div class="col-lg-6 col-md-6 mt-4 mb-4">
    <!-- Flash message holder -->
    <div class="hr-theme-slash-2">
      <div class="hr-line"></div>
      <div class="hr-icon">
        <i class="fa fa-user-slash" style="color: red"></i>
      </div>
      <div class="hr-line"></div>
    </div>
    <div class="card mb-3" style="border: none">
      <div class="position-relative mx-3 my-4 bg-transparent">
        <!-- add ban user form -->
        <h2 class="text-center">Ban user</h2>
        <form class="px-4 py-3" action="ban_users" method="POST">
          <label for="exampleDropdownFormEmail1" class="form-label"
            >Username</label
          >
          <div class="mb-3 input-group">
            <input type="text" name="username" class="form-control" />
            <button type="submit" class="btn btn-danger">Ban</button>
          </div>
        </form>
        <!-- end add ban user form -->
      </div>
    </div>
    <div class="hr-theme-slash-2">
      <div class="hr-line"></div>
      <div class="hr-icon">
        <i class="fa fa-user-check" style="color: green"></i>
      </div>
      <div class="hr-line"></div>
    </div>
    <div class="card mb-3" style="border: none">
      <div class="position-relative mx-3 my-4 bg-transparent">
        <!-- Delete ban user form -->
        <h2 class="text-center">Unban user</h2>
        <form class="px-4 py-3" action="ban_users" method="POST">
          <label for="exampleDropdownFormEmail1" class="form-label"
            >Username</label
          >
          <div class="mb-3 input-group">
            <input type="text" name="username_unban" class="form-control" />
            <button type="submit" class="btn btn-success">Unban</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
