<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Project</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a href="{{url_for('index')}}">
          <img class="navbar-brand ms-4" src = "static/logo.png" href="{{url_for('index')}}" width="50px"></img>
        </a>
        
      </div>
      {% if user.username %}
      <h5 class="text-nowrap text-center" style="color: white">Welcome, {{user.username}}</h5>
      {% endif %}
      <div
        class="collapse navbar-collapse col-9 me-4"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-2"> 
            <a
              class="nav-link btn btn-outline-secondary"
              href="{{ url_for('admin') }}"
              >Admin
            </a>
          </li>


          <li class="nav-item me-2"> 
            <a
              class="nav-link btn btn-outline-secondary"
              href="{{ url_for('login') }}"
              >Sign In / Sign Up
            </a>
          </li> 
        
          <li class="nav-item">
              <a
                class="nav-link btn btn-outline-secondary"
                href="{{ url_for('postItem') }}"
                >Post_Item
              </a>
            </li>

        </ul>
      </div>
    </nav>
<!--
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-10 d-flex justify-content-center"
          style="background-color: grey"
        >
          <h1>Home Page</h1>
        </div>
        <div class="col-1 d-flex justify-content-center">
          <a
            class="nav-link btn btn-outline-secondary"
            href="{{ url_for('login') }}"
            >Sign In / Sign Up</a
          >
        </div>
        
        <div class="col-1 d-flex justify-content-center">
          <button type="button" class="btn btn-primary">Login</button>
        </div> 
      </div>
-->

    <!-- Search Bar -->
    <div class="row mt-5 justify-content-center mx-auto">
      <div class="search-bar col-12 d-flex justify-content-center" style="width: 35%">
        <div class="input-group">
          <input
            type="search"
            class="form-control"
            id="searchbar"
            placeholder="Search"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="searchbutton"
          >
            Search
            <!-- <i class="search-icon fa-solid fa-magnifying-glass" styles="font-size: 1.4em"></i> -->
          </button>
        </div>
      </div>
    </div>
    <!-- Notification -->
      <div class="row mt-5 mx-auto">
        <div class="col-12 d-flex justify-content-center">
          <p>Notification: {{notif}}
        </div>
      </div>

      <!-- Making image grid Should use python and jinja to just loop through all items-->
        <div class="row mt-5">
          {% for dict_item in data %}
            {% for key, value in dict_item.items() %}
              <div class="col-3 offset-1 mb-5">
                <a href="{{url_for('item', id_ = key )}}">
                  <img src= {{value[2]}} alt="phone" height="200" width="200" />
                </a>
                <h1>{{value[0]}}</h1>
                <p>{{value[1]}}</p>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
    </div>
  </body>
</html>
