<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Manage Order Page</title>
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-center">
      <div class="container-fluid">
        <a href="{{url_for('index')}}">
          <img class="navbar-brand ms-4" src = "https://w7.pngwing.com/pngs/1022/32/png-transparent-shopping-cart-icon-shopping-cart-logo-icon-shopping-cart-label-coffee-shop-shopping-mall.png" href="{{url_for('index')}}" width="50px"></img>
        </a>
      </div>
      {% if user.is_authenticated %}
        <h5 class="text-nowrap my-auto" style="color: white">Welcome, {{user.username}}</h5>
      {% endif %}
      <div
        class="collapse navbar-collapse col-9 me-4"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated and user.is_admin %} 
            <li class="nav-item me-2"> 
              <a
                class="nav-link btn btn-outline-secondary"
                href="{{ url_for('admin') }}"
                >Admin
              </a>
            </li> 
          {% endif %}
          <li class="nav-item me-2">
            <a
              class="nav-link btn btn-outline-secondary"
              href="{{ url_for('postItem') }}"
              >Post Item
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item"> 
              <a
                class="nav-link btn btn-outline-secondary"
                href="{{ url_for('logout') }}"
                >Logout
              </a>
            </li> 
          {% else %}
            <li class="nav-item me-2"> 
              <a
                class="nav-link btn btn-outline-secondary"
                href="{{ url_for('login') }}"
                >Sign In / Sign Up
              </a>
            </li> 
            <li class="nav-item"> 
              <a
                class="nav-link btn btn-outline-secondary"
                href="{{ url_for('delete') }}"
                >Delete Account
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
		
		<div class="row mt-4 w-75 mx-auto">
			<h1 class="mb-4">Manage Past Orders</h1>
			<!-- Left side (Order list) -->
			<div class="col-lg-6 col-md-6">
				<h5 class="custom">Past Orders</h5>
				<table class="table table-striped">
					<thead class="table-primary">
						<tr>
							<th class="col-2">Item ID</th>
							<th class="col-10">Item Name</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td class="col-2">{{order[0]}}</td>
							<td class="col-10">{{order[1]}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- Right side (input boxes) -->
			<div class="col-lg-6 col-md-6">
				<!-- Gift item box -->
				<div class="card mb-3 px-3 py-4">
					<h2 class="text-center">Gift Item to Another User</h2>
					<form class="px-4 py-2" method="POST">
						<label class="form-label">Username</label>
						<input type="text" name="gift_username" class="form-control" />

						<label class="form-label mt-2">Item ID</label>
						<input type="text" name="gift_item_id" class="form-control" />
						
						<div class="w-50 mx-auto">
							<button type="submit" class="btn btn-primary mt-3 mx-auto w-100">Gift Item</button>
						</div>
					</form>
				</div>

				<!-- Cancel Order box -->
				<div class="card mb-3 px-3 py-4">
					<h2 class="text-center">Cancel Order</h2>
					<form class="px-4 py-2" method="POST">
						<label class="form-label">Item ID</label>
            <input type="text" name="cancel_item_id" class="form-control"/>
						<div class="w-50 mx-auto">
							<button type="submit" class="btn btn-danger mt-3 mx-auto w-100">Cancel Order</button>
						</div>
					</form>
				</div>
			</div>
		</div>

  </body>
</html>
