{% extends 'adminTemplate.html'%} {% block title %} notification {% endblock %}
{% block username %}
<h5 class="text-nowrap my-auto" style="color: white">Welcome, {{username}}</h5>
{% endblock %} {%block content %}
<h1>{% block admin_title %} Manage Notification {% endblock %}</h1>
<p>
  Notify everyone what's going on .. (The latest updated notification will
  appear in the main page)
</p>
<!-- Patcharapa -->
<!-- Top row -->
<div class="row mt-3">
  <!-- Add notification -->
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <h3 class="text-center mt-4">Add Notification</h3>
      <!-- Add Form -->
      <div>
        <form class="px-4 py-3" action="notification" method="POST">
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              type="text"
              name="notif_create"
              class="form-control"
            ></textarea>
          </div>
          <center>
            <button type="submit" class="btn btn-primary">Add</button>
          </center>
        </form>
      </div>
      <!-- End Add Form -->
    </div>
  </div>

  <!-- Delete Notification -->
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <h3 class="text-center mt-4">Delete Notification</h3>
      <!-- Delete Form -->
      <div>
        <form class="px-4 py-3" action="notification" method="POST">
          <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">ID</label>

            <input type="text" name="notif_id" class="form-control" />
          </div>
          <center>
            <input
              type="submit"
              class="btn btn-primary"
              value="Delete"
              name="delete"
            />
          </center>
        </form>
      </div>
      <!-- End Delete Form -->
    </div>
  </div>

  <!-- Update Notification -->
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <h3 class="text-center mt-4">Update notification</h3>
      <!-- Update Form -->
      <div>
        <form class="px-4 py-3" action="notification" method="POST">
          <div class="mb-3">
            <label class="form-label">ID</label>

            <input type="text" name="update_notif_id" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              type="text"
              name="notif_update"
              class="form-control"
            ></textarea>
          </div>
          <center>
            <button type="submit" class="btn btn-primary">Update</button>
          </center>
        </form>
      </div>
      <!-- End Update Form -->
    </div>
  </div>
</div>

<!-- Second row: Notification list -->
<div class="row mt-2">
  <h5>
    Current Notification List (ordered by the lasted notification made/updated)
  </h5>
  <table class="table table-striped mt-2 me-5">
    <thead class="table-danger">
      <tr>
        <th class="col-1">ID</th>
        <th class="col-5">Description</th>
        <th class="col-3">Admin</th>
        <th class="col-3">Date / Time</th>
      </tr>
    </thead>
    <tbody>
      {% for notif in notif_list %}
      <tr>
        <td class="col-1">{{notif[0]}}</td>
        <td class="col-5">{{notif[1]}}</td>
        <td class="col-3">{{notif[2]}}</td>
        <td class="col-3">{{notif[3]}} / {{notif[4]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
