{% extends 'adminTemplate.html'%} {% block title %} warning {% endblock %}
{%block content %}
<h1>{% block admin_title %} Manage Warning{% endblock %}</h1>
<p>
  This page lets admins add a warning to a suspicious item 
</p>
<div class="row mt-4">
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <div
        class="card-header p-0 position-relative mt-n4 mx-3 my-4 z-index-2 bg-transparent"
      >
        <!-- Add Form -->
        <h3 class="text-center">Add Warning</h3>
        <div>
          <form class="px-4 py-3" action="/warningForm" method="POST">
            <div class="mb-3">
              <label for="exampleDropdownFormEmail1" class="form-label"
                >Item ID</label
              >

              <input
                type="text"
                name="add_warning_item_id"
                class="form-control"
                placeholder="the id of the item in question"
              />
            </div>
            
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Warning Description</label
              >
              <textarea
                class="form-control"
                name="add_warning_desc"
                id="exampleFormControlTextarea1"
                placeholder="This item seems potentially fraudulent"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <div
        class="card-header p-0 position-relative mt-n4 mx-3 my-4 z-index-2 bg-transparent"
      >
        <!-- Update Form -->
        <h3 class="text-center">Update Warning</h3>
        <div>
          <form class="px-4 py-3" action="/updateWarningForm" method="POST">
            <div class="mb-3">
              <label for="exampleDropdownFormEmail1" class="form-label"
                >Item ID</label
              >

              <input
                type="text"
                name="update_warning_item_id"
                class="form-control"
                placeholder="the id of the item in question"
              />
            </div>
            
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Warning Description</label
              >
              <textarea
                class="form-control"
                name="update_warning_desc"
                id="exampleFormControlTextarea1"
                placeholder="This item seems potentially fraudulent"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <div
        class="card-header p-0 position-relative mt-n4 mx-3 my-4 z-index-2 bg-transparent"
      >
        <!-- Update Form -->
        <h3 class="text-center">Delete Warning</h3>
        <div>
          <form class="px-4 py-3" action="/deleteWarningForm" method="POST">
            <div class="mb-3">
              <label for="exampleDropdownFormEmail1" class="form-label"
                >Item ID</label
              >

              <input
                type="text"
                name="delete_warning_item_id"
                class="form-control"
                placeholder="the id of the item in question"
              />
            </div>
            
            
            
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
